.pd4Hijnk{display:flex; flex-direction: column; grid-row-gap: 5px; height:inherit; background-color: white; justify-content: space-between; width:100%; position: fixed; top:0; left:5; padding-bottom: 20px; z-index:99}


.jhnb7ygf {margin-top: 100px;}

.notes-box{display:block; margin-top:20px;}

.navigation {width:35%; display:flex; flex-direction: row; flex-wrap: wrap; position:fixed; align-content: center; border-radius: 10px; padding: 5px; grid-gap: 5px; z-index:5; }

.navigation1 {width:35%; display:flex; flex-direction: row; flex-wrap: wrap; position:fixed; align-content: center; border-radius: 10px; padding: 5px; grid-gap: 5px; z-index:5; }

.section-box{display: block;}

.Zvb8Iopu{display: flex; flex-direction: row; border: 1px solid black; border-radius: 50px; position: relative}


.Qj90rTs{width:90% outline: none; border:none; font-size:15px; background-color: transparent; margin-left: 10px; vertical-align: middle;}

.Qj90rTs:focus{outline: none;}

.ocVdi8u{display:flex; flex-direction: column; font-size: 14px; border:1px solid #ddd; border-radius: 10px; line-height:25px; width:inherit; height:fit-content; flex-grow: 1; flex-shrink: 1; flex-basis:300px; padding:5px; margin: 5px 5px 5px 5px;}

    
.ISdcf3h {font-size: 18px; font-weight: bolder; text-align: center; border-bottom: 1px solid #ddd; padding-top:3px; padding-bottom: 3px;}

.Nbj6Jkli{height: inherit; overflow:hidden;}

.Ooyh3vIb{font-size: 12px; font-weight: bold; color:; background-color:whitesmoke; padding:0px 2px 0px 2px; border:none;}

button {border-radius: 5px; border:none; cursor: pointer; background-color:transparent; color: black; padding: 5px; width:;}

button:focus {outline: none;}

img{width:100%; height:inherit; border-radius: 10px; -webkit-filter: grayscale(100%); filter:grayscale(100%);}

iframe{border-radius: 10px; border:none;}


::-webkit-scrollbar {
  width: 8px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: dodgerblue; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (min-width: 768px) {
   .pd4Hijnk {display:flex; flex-direction:row; grid-row-gap: 5px; height:inherit; background-color: white; width:98.5%; position: fixed; top:0; left:5;  padding-top: 10px; padding-bottom: 10px; padding-right: 100px; margin-left: 0;}
    .notes-box{display:grid; grid-template-columns: 1fr 1fr 1fr;}
    .section-box{display:grid; grid-template-columns: 1fr 1fr;}
    .jhnb7ygf {display:grid; grid-template-columns: 1fr 1fr 1fr;margin-top: 100px;}
}

.searchform-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  z-index: 99;
  font-size:11px;
  /*position the autocomplete items to be the same width as the container:*/
  top: 115%;
  left: 0;
  right: 0;
}

.searchform-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4;
   
}

/*when hovering an item:*/
.searchform-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.searchform-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
