.notes-box{display:inline-grid; grid-template-columns:1fr 1fr 1fr; grid-template-rows:auto; grid-auto-flow: dense; margin-top:30px; grid-gap:5px;}

.si-co-hi {display:none;}

.appr {width:35%; display:flex; flex-direction: row; flex-wrap: wrap; position:fixed; align-content:flex-start; border: 1px solid #ddd; border-radius: 10px; padding:5px; grid-gap: 5px; z-index:2; height:fit-content; justify-content: center; background-color:white; color: black;}

.navigation {width:35%; display:flex; flex-direction: row; flex-wrap: wrap; position:fixed; align-content: center; border-radius: 10px; padding: 5px; grid-gap: 5px; z-index:5; }

.navigation1 {display:grid; background: white; grid-gap: 20px; margin-left: 38%;}

.Zvb8Iopu{display: flex; flex-direction: row; align-self:flex-end; border: 1px solid black; border-radius: 50px; width: 200px;}

.Zvb8Iopv{display: flex; flex-direction: row; border: 1px solid black; border-radius: 50px; width:100%; align-content: center;}

.Qj90rTs{width: 100%; outline: none; border:none; font-size:15px; background-color: transparent; margin-left: 10px; vertical-align: middle;}

.Qj90rTt{width: 100%; outline: none; border:none; font-size:15px; background-color: transparent; margin-left: 10px; vertical-align: middle;}

.ocVdi8u{display:flex; flex-direction: column; font-size: 14px; border:1px solid #ddd; border-radius: 10px; line-height:25px; width:inherit; height:fit-content; flex-grow: 1; flex-shrink: 1; flex-basis:300px; padding: 5px;}

.ocVdi8v{display:flex; flex-direction: column; font-size: 14px; border:1px solid #ddd; border-radius: 10px; line-height:25px; width: 500px; height: fit-content; padding:5px;}

    
.ISdcf3h {font-size: 18px; font-weight: bolder; text-align: center; border-bottom: 1px solid #ddd; padding-top:3px; padding-bottom: 3px;}

.Nbj6Jkli{height: inherit; overflow:hidden;}

.Ooyh3vIb{font-size: 12px; font-weight: bold; color:; background-color:whitesmoke; padding:0px 2px 0px 2px; border:none;}

button {border-radius: 5px; border:none; cursor: pointer; background-color:transparent; color: black; padding: 5px; width:;}

button:focus {outline: none;}

    img{width:100%; height:inherit; border-radius: 10px; -webkit-filter: grayscale(100%); filter:grayscale(100%);}
    iframe{border-radius: 10px; border:none;}

.sec-stories{
    
}


@keyframes animatebottom { 
  from{ left: -10px; opacity:0 } 
  to{ right:auto; opacity:1 }
}

::-webkit-scrollbar {
  width: 8px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: dodgerblue; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.cursor,
.cursor2,
.cursor3{
  position: fixed;
  border-radius:; 
  transform: translateX(-50%) translateY(-50%);
  pointer-events:none;
  left: 200px;
  top: 20%;
  z-index: 100;
}
.cursor{
  background-color:black;
  height: 10px;
  width: 10px;
    border-radius: 50%;
}
.cursor2,.cursor3{
    background-color:black;
    border-radius: 50%;
  height: 50px;
  width: 50px;
    opacity: 0.1;
  transition: all 100ms ease-out;
  background-position:center;
  background-size: 0 0;
    z-index:0;
}
.cursor2.hover,
.cursor3.hover{
  height: 320px;
  width: 320px;
  border:none;
  border-radius: 8px;
    border-top: 1px solid dodgerblue;
}
.cursor2{
  border: 2px solid var(--blue);
  box-shadow: 0 0 12px rgba(16, 39, 112, 0.2);
}
.cursor2.hover{
  background-size: cover;
  box-shadow: 0 0 0 rgba(16, 39, 112, 0.2);
}
