.notes-box{display:-webkit-box; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; flex-wrap: wrap; margin-top:30px; grid-gap: 10px;}

.search-form.Zvb8Iopu{display: flex; flex-direction: row; float: right; align-self:center; border: 1px solid black; border-radius: 50px;}

.Qj90rTs{width: 100%; outline: none; border:none; font-size:15px; background-color: transparent; margin-left: 10px; vertical-align: middle;}

.ocVdi8u{display:flex; flex-direction: column; font-size: 14px; border:1px solid #ddd; border-radius: 10px; line-height:25px; width:300px;height: fit-content; animation-name: animatebottom; animation-duration: 1s; animation-timing-function: ease-in; padding-top: 5px; padding-bottom: 0px; flex-grow: 1; flex-shrink: 1; flex-basis:300px;}

    
.ISdcf3h {font-size: 18px; font-weight: bolder; text-align: center; border-bottom: 1px solid #ddd; padding-top:3px; padding-bottom: 3px;}

.Nbj6Jkli{padding:3px 5px 3px 5px; overflow:hidden; max-height:inherit;}

.Ooyh3vIb{font-size: 12px; font-weight: bold; color:dodgerblue; background-color:whitesmoke; padding:0px 2px 0px 2px;  border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border:none; position:sticky;}

button {border-radius: 5px; border:none; cursor: pointer; background-color:transparent; color: black; padding: 5px; width:inherit;}
 
button:focus{outline:0;}

img{width:auto; height:auto;}

origin{font-size: 9px; padding: 5px;}


@keyframes animatebottom { 
  from{ bottom:-800px; opacity:0 } 
  to{ top:0; opacity:1 }
}

::-webkit-scrollbar {
  width: 8px;
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: dodgerblue; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
